altgraph==0.10.2
bdist-mpkg==0.5.0
beautifulsoup4==4.5.1
click==6.6
climate==0.4.6
configobj==5.0.6
decorator==4.0.10
downhill==0.3.2
Flask==0.11.1
Flask-GoogleMaps==0.2.4
Flask-Login==0.3.2
Flask-WTF==0.12
future==0.16.0
gdbn==0.1
geocoder==1.17.5
geopy==1.11.0
gnumpy==0.2
h5py==2.6.0
itsdangerous==0.24
Jinja2==2.8
joblib==0.10.2
Lasagne==0.1
lda==1.0.4
macholib==1.5.1
MarkupSafe==0.23
modulegraph==0.10.4
netCDF4==1.2.4
nltk==3.2.1
nolearn==0.6.0
nose-parameterized==0.5.0
oauthlib==1.1.2
pandas==0.18.1
patsy==0.4.1
pbr==1.10.0
Pillow==3.4.1
plac==0.9.6
protobuf==3.1.0.post1
py2app==0.7.3
pymongo==3.3.0
redis==2.10.5
requests-oauthlib==0.6.2
scikit-learn==0.17.1
scikits.statsmodels==0.3.1
selenium==3.0.0b2
six==1.10.0
sklearn==0.0
statsmodels==0.6.1
tabulate==0.7.5
textblob==0.11.1
theanets==0.7.3
Theano==0.8.2
tweepy==3.5.0
twitter==1.17.1
TwitterAPI==2.4.1.1
Unidecode==0.4.19
Werkzeug==0.11.10
WTForms==2.1
wtss==0.3.0
xattr==0.6.4
yowsup2==2.3.167
zope.interface==4.1.1
